.main-page-container{
    .chakra-select__label, .chakra-field__label{
        font-size: 16px;
        font-weight: 600;
        color: #003475;
    }

    .chakra-table__header{
        background-color: #dff0ff;
    }
}